<div class="square">
  <div class="avatar-container">
    <img [src]="contact.avatar || 'assets/img/unknown.png'" class="avatar" />
    <div class="avatar-overlay">
      <span
        class="avatar-icon"
        title="User Profile"
        (click)="onDelete()"
        *ngIf="deletable"
      >
        <i class="fa fa-close"></i>
      </span>
      <span
        class="avatar-icon"
        title="User Profile"
        (click)="onAdd()"
        *ngIf="canAdd"
      >
        <i class="fa fa-plus"></i>
      </span>
    </div>
  </div>
  <a class="contact-name" href="/profile/{{ contact._id || contact.id }}">{{
    contact.name
  }}</a>
</div>
